COMPOSE_PROJECT_NAME=leadflow
WEB_PORT=3000
API_PORT=3001
POSTGRES_PORT=5432
POSTGRES_DB=leadflow
POSTGRES_USER=leadflow
POSTGRES_PASSWORD=leadflow
SSO_BLACKLIST_SECRET=leadflow_blacklist_jwt_secret_dev_change_me
KURUKIN_BLACKLIST_API_TOKEN=leadflow_blacklist_admin_key_dev_change_me
