COMPOSE_PROJECT_NAME=leadflow
NEXT_PUBLIC_APP_URL=https://leadflow.kuruk.in
WEB_PORT=3000
API_PORT=3001
POSTGRES_PORT=5432
POSTGRES_DB=leadflow
POSTGRES_USER=leadflow
POSTGRES_PASSWORD=leadflow
SSO_BLACKLIST_SECRET=leadflow_blacklist_jwt_secret_dev_change_me
KURUKIN_BLACKLIST_API_TOKEN=leadflow_blacklist_admin_key_dev_change_me
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
MAIL_FROM_NAME=Kurukin LeadFlow
MAIL_FROM_ADDRESS=soporte@mail.kurukin.com
MAIL_REPLY_TO_ADDRESS=soporte@kurukin.com
WALLET_ENGINE_BASE_URL=
WALLET_ENGINE_INTERNAL_URL=
WALLET_ENGINE_API_KEY=
