COMPOSE_PROJECT_NAME=leadflow
NEXT_PUBLIC_APP_URL=https://leadflow.kuruk.in
WEB_PORT=3000
API_PORT=3001
POSTGRES_PORT=5432
POSTGRES_DB=leadflow
POSTGRES_USER=leadflow
POSTGRES_PASSWORD=leadflow
SSO_BLACKLIST_SECRET=leadflow_blacklist_jwt_secret_dev_change_me
KURUKIN_BLACKLIST_API_TOKEN=leadflow_blacklist_admin_key_dev_change_me
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
MAIL_FROM_NAME=Kurukin LeadFlow
MAIL_FROM_ADDRESS=soporte@mail.kurukin.com
MAIL_REPLY_TO_ADDRESS=soporte@kurukin.com
WALLET_ENGINE_BASE_URL=
WALLET_ENGINE_INTERNAL_URL=
WALLET_ENGINE_API_KEY=
IDENTITY_TOKEN_SECRET=change_me_identity_token_secret
IDENTITY_TOKEN_TTL_HOURS=48
YOURLS_API_URL=https://kuruk.in/yourls-api.php
YOURLS_SIGNATURE=
PUBLIC_REF_BASE_URL=https://leadflow.kuruk.in
RUNTIME_CONTEXT_CENTRAL_BASE_URL=
RUNTIME_CONTEXT_CENTRAL_API_KEY=
RUNTIME_CONTEXT_OWNERSHIP_UPSERT_ENABLED=false
RUNTIME_CONTEXT_OWNERSHIP_UPSERT_URL=
RUNTIME_CONTEXT_OWNERSHIP_UPSERT_PATH=/v1/ownership-context/upsert
