# Image tags to be set before first real deploy
LEADFLOW_WEB_IMAGE=ghcr.io/soyjavierquiroz/leadflow-web:latest
LEADFLOW_API_IMAGE=ghcr.io/soyjavierquiroz/leadflow-api:latest

# Runtime domains
LEADFLOW_SITE_HOST=exitosos.com
LEADFLOW_MEMBERS_HOST=members.exitosos.com
LEADFLOW_ADMIN_HOST=admin.exitosos.com
LEADFLOW_API_HOST=api.exitosos.com

# Optional replicas
LEADFLOW_WEB_REPLICAS=1
LEADFLOW_API_REPLICAS=1
